<% include partials/header %>

<div class='container'>
    <div class="jumbotron">
        <div class="container">
            <% if(!currentUser){ %>
                <h1>Welcome to Budget Orginizer</h1>
            <% } else { %>
                <h1>Welcome to Budget Organizer - <%= currentUser.name %></h1>
            <% } %>
        </div>
    </div>
</div>

<% include partials/footer %>
