<% include ./partials/header %>

<h1>Login</h1>
<form action='/login' method='POST'>
    <p>
      <input name='username' type='text' placeholder='username'>
    </p>
    <p>
      <input name='password' type='text' placeholder='password'>
    </p>    
    <button>Submit</button>
</form>
<a href='/'>Back</a>

<% include ./partials/footer %>
